h1 img{
width: 145px;
height: auto;
}

body{
background-color:#FAF0E6;
}

p.content1 {line-height: 40px;}

.main {
  position: absolute;
    top: 18%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.main-heading {
  color: black;
  text-transform: uppercase;
}

.main-heading-primary {
  display: block;
  font-size: 2.0rem;
  font-weight: 400;
  letter-spacing: 0px;
  animation: moveInLeft 1s ease-out;
}

.main-heading-secondary {
  font-family: sans-serif;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: hotpink;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

#main h4{
  text-align:center;
}

.sosyal{
  margin: 50px auto;
}
.facebook {
  background-color: #2e4a88;
  box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;

  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 80px;
}
.facebook:hover {
  background-color: #354F84;
}
.facebook:active {
  top: 2px;
	box-shadow: 0 2px 0 #1B3D82;
}
.twitter {
  background-color: #008DDE;
  box-shadow: 0 4px 0 #0078BD;

  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 80px;
}
.twitter:active {
  top: 2px;
	box-shadow: 0 2px 0 #0078BD;
}
.twitter:hover {
  background-color: #1397D8;
}
.instagram {
  background-color: #FF69B4;
  box-shadow: 0 4px 0 #BA2714;

  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 80px;
}
.instagram:active {
  top: 2px;
	box-shadow: 0 2px 0 #BA2714;
}
.instagram:hover {
  background-color: #D04829;
}
